<h1>Flames#index</h1>
<p>Find me in app/views/flames/index.html.erb</p>

<form action="/flames" method="post">
  Name1:<br>
  <input type="text" name="name1"><br>
  Name2:<br>
  <input type="text" name="name2"><br>
  <input type="submit" value="Submit">
</form>

